@attribute [Client]

<div class="client-component">
    <p>
        <button type="button" @onclick="IncrementCounter">Current count: @_counter</button>
    </p>

    <p>
        Is Browser: @OperatingSystem.IsBrowser()
    </p>

    <p>
        Client thinks the server's count is @_serverCounter
    </p>
</div>

<ServerCounter IncrementAmount="IncrementAmount * 2" Incremented="OnServerCounterIncremented" />

@code {
    int _counter;
    int _serverCounter;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    [Parameter]
    public EventCallback<int> Incremented { get; set; }

    private async Task IncrementCounter()
    {
        _counter += IncrementAmount;
        await Incremented.InvokeAsync(_counter);
    }

    private void OnServerCounterIncremented(int counter)
    {
        _serverCounter = counter;
    }
}
