<p>
    <button type="button" @onclick="() => _counter += IncrementAmount">Current count: @_counter</button>
</p>

<p>
    Is Browser: @OperatingSystem.IsBrowser()
</p>

@code {
    int _counter;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;
}

