@page "/Account/Manage/EnablePasswordlessAuthentication"

@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using MyBlazorApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject UrlEncoder UrlEncoder
@inject IdentityRedirectManager RedirectManager
@inject ILogger<EnableAuthenticator> Logger

<PageTitle>Configure passwordless authentication</PageTitle>

@* <StatusMessage Message="@message" /> *@
<h3>Configure passwordless authentication</h3>
<div>
    <p>Click the button below to enable passwordless authentication</p>
    <button onclick="passwordless.enableAuthentication()">Enable passwordless authentication</button>
</div>

@code {
    //private string? message;
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
